@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<LeaveApplyModel>

<div class="card" style="margin-left: 15%;width:100%">
    <div class="card-body">
        <h5 class="card-title"><i class='far fa-bell'></i> Upcoming Leaves</h5><hr>


        @if (Model.Count() == 0)
        {
            <div>
                There are no upcoming leaves.
            </div>
        }

        @foreach (var leave in Model)
        {
            <br>
            <h6 class="card-subtitle mb-2">@leave.LeaveType - @leave.NoOfDays Days</h6>
            <p class="card-text">
                <i class="fa fa-calendar"></i> From &nbsp; @leave.Startdate.Day-@leave.Startdate.Month-@leave.Startdate.Year <br><i class="fa fa-calendar"></i>
                To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @leave.EndDate.Day-@leave.EndDate.Month-@leave.EndDate.Year
            </p>
            @if (leave.Status == "Waiting for Recommendation" || leave.Status == "Waiting for Approval")
            {
                <a asp-controller="StaffLeave" asp-action="PendingLeaveHistory"> <div class="text-primary"><u>@leave.Status</u></div></a>
            }

            @if (leave.Status == "Not Approved" || leave.Status == "Not Recommended")
            {
                <a asp-controller="StaffLeave" asp-action="RejectedLeave"> <div class="text-danger"><u>@leave.Status</u></div></a>
            }
            @if (leave.Status == "Approved")
            {
                <a asp-controller="StaffLeave" asp-action="ApprovedHistory"> <div class="text-success"><u>@leave.Status</u></div></a>
            }
            <br><hr>
        }
    </div>
    </div>
    <br>


