@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<LeaveApplyModel>

<div class="card" style="margin-left: 15%;width:100%">
    <div class="card-body">
        <h5 class="card-title">Upcoming Leaves</h5><hr>

        @if (Model.Count() == 0)
        {
            <div>
                There are no upcoming leaves.
            </div>
        }

        @foreach (var leave in Model)
        {
            <br>
            <h6 class="card-subtitle mb-2"><u>@leave.LeaveType</u> - @leave.NoOfDays Days</h6>
            <p class="card-text">
                <i class="fa fa-calendar"></i> From &nbsp; @leave.Startdate.Day-@leave.Startdate.Month-@leave.Startdate.Year <br><i class="fa fa-calendar"></i>
                To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @leave.EndDate.Day-@leave.EndDate.Month-@leave.EndDate.Year
            </p>
            <div href="#" class="text-primary">@leave.Status</div>
            <br><hr>
        }
    </div>
    </div>
    <br>


