@{
    Layout = "_StaffLayout";
    ViewData["Title"] = "Leave Apply";
}
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />
@model LeaveApplyModel

<div class="content" style="background-image: url('/images/Parallax.jpg'); background-repeat: no-repeat; position: center;background-size:100% 100%;">

    <partial name="_Menu" />
    <br><br>
    <div style="margin-left:20%;width:60%">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show container" role="alert">
                <strong>Succesffull!</strong> You have applied a leave successfully.<a asp-controller="StaffLeave" asp-action="ViewLeave" asp-route-id="@ViewBag.LeaveId"> Click here</a> to view.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }

        @if (ViewBag.IsUpdate == true)
        {
            <div class="alert alert-success alert-dismissible fade show container" role="alert">
                <strong>Succesffully Updated!</strong><a asp-controller="StaffLeave" asp-action="ViewLeave" asp-route-id="@ViewBag.LeaveId"> Click here</a> to view.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }

        @if (ViewBag.IsExist == true)
        {
            <div class="alert alert-danger alert-dismissible fade show container" role="alert">
                <strong>Operation Failed!</strong> You have already applied a leave on this day.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }
    </div>
    <br>
    <br>

    <input hidden value="@Model.FromDate.Year-@Model.FromDate.Month-@Model.FromDate.Day" id="x" />
    <input hidden value="@Model.ToDate.Year-@Model.ToDate.Month-@Model.ToDate.Day" id="y" />
    @await Component.InvokeAsync("LeaveBalance", new { id = Model.EmpId })

    <font style="color:white;font-size:13pt;font-family:Arial"><center>Leave Application - @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</center> </font>
    <br>
    <form name="nme" enctype="multipart/form-data" method="post" asp-action="LeaveApply" asp-controller="StaffLeave" style="margin-left:20%;width:60%">

        <div class="form-group">
            <select asp-for="LeaveType" class="form-control" style="height:50px;" onchange="Remain()" id="LeaveType" required>
                <option value="">Choose Leave Type</option>
                <option>Annual Leave</option>
                <option>Medical Leave</option>
                <option>Casual Leave</option>
                <option>Short Leave</option>
                <option>Half Days</option>
                <option>Special Leave</option>
                <option>No Pay Leave</option>
            </select>
            <div style="margin-bottom:20px;color:limegreen;" id="balance"></div>
            <span asp-validation-for="LeaveType" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">Start Date</font>
                    <input id="start" onchange="check1()" asp-for="Startdate" value="dd/mm/yyyy" class="form-control" placeholder="Casual Leaves" style="height:50px;" required />
                    <span asp-validation-for="Startdate" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group" style="margin-top:13px">
                    <font style="color:white">End Date</font>
                    <input id="end" onchange="check2()" asp-for="EndDate" value="dd/mm/yyyy" class="form-control" placeholder="Medical Leaves" style="height:50px;" disabled />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div style="margin-bottom:20px;color:red;" id="msg"></div>
        <div style="color:white;margin-left:40%;" id="days"></div>

        <div class="form-group" style="margin-top:13px">

            <textarea asp-for="Reason" class="form-control" placeholder="Reason" style="height:100px" required></textarea>
            <span asp-validation-for="Reason" class="text-danger"></span>

        </div>
        <div class="form-group" style="margin-top:18px">
            <font style="color:white">Upload Evidence in pdf file format (Optional)</font>
            <div class="custom-file">
                <input asp-for="EvidencePDF" class="custom-file-input" id="customFile" style="line-height:25px">
                <label class="custom-file-label" for="customFile" style="height:50px">Choose File (Ex: Medical report..)</label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Apply" class="btn-block  btn-lg" id="myBtn" onclick="ConfirmApply()" style="background-color:#173A47;color:white" />
            <a asp-controller="StaffLeave" asp-action="LeaveBalance" class="btn btn-lg btn-block" style="margin-top:20px;background-color:#173A47;color:white">Cancel</a>
        </div>
    </form>
</div>



@section DateCompare
{
    <script type="text/javascript">


        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script type="text/javascript">

        function check1() {
            var from = document.getElementById("x").value;
            var from_ = new Date(from);
            var to = document.getElementById("y").value;
            var to_ = new Date(to);
            var start = document.getElementById("start").value;
            var start_ = new Date(start);
            if (to_.getTime() < start_.getTime()) {
                document.getElementById('msg').innerHTML = " Your leave allocation has not been extended from " + to + " yet. Please inform admin to extend your leave allocation.";
                document.getElementById("myBtn").disabled = true;
                document.getElementById("end").disabled = true;

            }

            else {
                if (from_.getTime() > start_.getTime()) {
                    document.getElementById('msg').innerHTML = "Oops! You can not apply leave on " + start + ". Because your leaves have been allocated from " + from;
                    document.getElementById("myBtn").disabled = true;
                    document.getElementById("end").disabled = true;
                }
                else {
                    document.getElementById('msg').innerHTML = "";
                    document.getElementById("myBtn").disabled = false;
                    document.getElementById("end").disabled = false;
                }

            }

        }

        function check2() {
            var start = document.getElementById("start").value;
            var end = document.getElementById("end").value;
            var to = document.getElementById("y").value;
            var date1 = new Date(start);
            var date2 = new Date(end);
            var to_ = new Date(to);

            var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            var diffDays = Math.abs((date1.getTime() - date2.getTime()) / (oneDay));

            if (to_.getTime() < date2.getTime()) {
                document.getElementById('msg').innerHTML = " Your leave allocation has not been extended from " + to + " yet. Please inform admin to extend your leave allocation.";
                document.getElementById("myBtn").disabled = true;


            }

            else {
                if (date2.getTime() <= date1.getTime()) {
                    document.getElementById('msg').innerHTML = "End Date should be bigger than start date( " + start + " ) ";
                    document.getElementById("myBtn").disabled = true;
                }
                else {
                    document.getElementById('msg').innerHTML = "";
                    document.getElementById("myBtn").disabled = false;
                    document.getElementById('days').innerHTML = "Leave Period : " + diffDays + " days ";
                    LeaveCheck(diffDays);
                }
            }


        }

        function ConfirmApply() {
            var start = document.getElementById("start").value;
            var end = document.getElementById("end").value;
            var date1 = new Date(start);
            var date2 = new Date(end);

            var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            var diffDays = Math.abs((date1.getTime() - date2.getTime()) / (oneDay));


            var x = confirm("Are you sure you want to Apply " + diffDays + " days leave from " + start + " to " + end + " ?");
            if (x)
                return true;
            else
                return false;


        }

        function Remain() {

            var annual = document.getElementById("annual").value;
            var casual = document.getElementById("casual").value;
            var medical = document.getElementById("medical").value;
            var half = document.getElementById("half").value;
            var short = document.getElementById("short").value;

            var leaveType = document.getElementById("LeaveType").value;

            switch (leaveType) {
                case "Annual Leave":
                    document.getElementById('balance').innerHTML = annual + " Annual Leaves are available";
                    break;
                case "Medical Leave":
                    document.getElementById('balance').innerHTML = medical + " Medical Leaves are available";
                    break;
                case "Casual Leave":
                    document.getElementById('balance').innerHTML = casual + " Casual Leaves are available";
                    break;
                case "Short Leave":
                    document.getElementById('balance').innerHTML = short + " Short Leaves are available";
                    break;
                case "Half Days":
                    document.getElementById('balance').innerHTML = half + " Half Days are available";
                    break;
                default:
                    document.getElementById('balance').innerHTML = "";

            }

        }

        function LeaveCheck(diffDays) {
            var LeaveBal = [];
            LeaveBal[0] = document.getElementById("annual").value;
            LeaveBal[1] = document.getElementById("medical").value;
            LeaveBal[2] = document.getElementById("casual").value;
            LeaveBal[3] = document.getElementById("short").value;
            LeaveBal[4] = document.getElementById("half").value;


            var leaveType = document.getElementById("LeaveType").value;
            var leaves = ["Annual Leave", "Medical Leave", "Casual Leave", "Short Leave", "Half Days"];

            var i;
            for (i = 0; i < 5; i++) {
                if (leaveType == leaves[i]) {
                    if (diffDays > LeaveBal[i]) {

                        document.getElementById('msg').innerHTML = "Can not get " + diffDays + " " + leaves[i] + ". Only " + LeaveBal[i] + " " + leaves[i] + " are available.";
                        document.getElementById("myBtn").disabled = true;

                    }
                }
            }

        }

    </script>


}
