@{
    Layout = "_StaffLayout";
    ViewData["Title"] = "Pending Leave";
    ViewData["Msg1"] = "No Pending Leaves";
    ViewData["Msg2"] = "You currently have no pending leave requests.";
}
<link href="~/CSS/MenuStyleSheet.css" rel="stylesheet" />

@model IEnumerable<LeaveApplyModel>


<div class="content" style="height:600px">
    <partial name="_Menu" />
    <br><br><br>
    <div style="margin-left:8%;width:80%">

        @if (Model.Count() == 0)
        {
            <br>
            <div style="width:90%">
                <partial name="_Message" />
            </div>
        }

        @if (ViewBag.IsDelete == true)
        {
        <div class="alert alert-success alert-dismissible fade show container" role="alert">
        <strong>Succesffully Deleted!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        }
    </div>
    <br>

    @foreach (var leave in Model)
    {
        <div class="card bg-light" style="margin-bottom:40px;margin-left:8%;width:80%">
            <div class="card-header" style="font-size:13pt;display:flex;justify-content:space-between;background-color:lightgray">
                <font class="card-title">
                    <b> @leave.NoOfDays Days </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="font-size:11pt">
                        <i class='far fa-calendar-alt'></i> From &nbsp; @leave.Startdate.Day -@leave.Startdate.Month - @leave.Startdate.Year &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <i class='far fa-calendar-alt'></i> To &nbsp; @leave.EndDate.Day - @leave.EndDate.Month - @leave.EndDate.Year
                    </span>
                </font>
                <font class="card-title" style="font-size:11pt">
                   
                    @if (leave.Status == "Waiting for Recommendation")
                    {

                        <a asp-controller="StaffLeave" asp-action="EditLeave" asp-route-id="@leave.LeaveApplyId" class="text-primary">Edit |</a>
                        <a asp-controller="StaffLeave" asp-action="DeleteLeave" asp-route-id="@leave.LeaveApplyId" class="text-danger" onclick="return confirm('Do you want to delete this leave?')"> Withdraw </a>

                    }
                    @if (leave.Status == "Waiting for Approval")
                    {

                        <font class="text-primary" >Edit is not available</font>
                    }
                </font>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <blockquote class="blockquote mb-0">
                            @leave.LeaveType
                        </blockquote>
                        <div style="margin-top:20px"><i class='far fa-calendar-alt'></i>  Applied Date : @leave.AppliedDate.Day - @leave.AppliedDate.Month - @leave.AppliedDate.Year</div>


                    </div>
                    <div class="col-md-4"><p style="font-size:12pt">Reason: <br>@leave.Reason</p></div>
                    <div class="col-md-4">
                        <font class="text-primary" style="font-size:13pt"><i class='fas fa-hourglass-end'></i> @leave.Status</font><br>
                        @if (leave.Status == "Waiting for Approval")
                        {
                            <div style="display:block;margin-top:10px">  Recommender : @leave.RecommendName  <br></div>
                        }
                    </div>

                </div>
            </div>
        </div>
       

    }

</div>

