
@{
    Layout = "_AttendenceLayout";
    ViewData["Title"] = "Attendence Request Approve";
    ViewData["Msg1"] = "No Attendence Requests";
    ViewData["Msg2"] = "No pending attendence requests have been received yet.";

}
<link href="~/CSS/AdminAtt1.css" rel="stylesheet" />
@model IEnumerable<AttendenceModel>

    <div style="margin-left:18%;height:600px;">
        <div class="navbar">
            <h3 style="font-family:Cambria;">
                <br>
                <a asp-controller="EmployeeHome" asp-action="EmpIndex" title="Back">
                    <i class='fas fa-arrow-left' id="s1"></i>
                </a>Attendence Request Approval
            </h3>
        </div>
        <hr>
        <br>
        <div style="margin-left:2%;width:90%">
            @if (ViewBag.IsApprove == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    Request Approved.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (ViewBag.IsNotApprove == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    Request Rejected.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
        <br>
        @if (Model.Count() == 0)
        {
            <div style="margin-left:4%;width:85%">
                <partial name="_Message" />
            </div>
        }

        @foreach (var attendence in Model)
        {
            <div class="card bg-light" id="s2">
                <div class="card-header" >
                    <font class="card-title">
                        <b> @attendence.EmpName - </b> &nbsp;
                        <span style="font-size:11pt">
                            @attendence.Designation
                        </span>
                    </font>
                    <font class="card-title text-sm" style="font-size:11pt">
                        <a asp-controller="AdminAttendence" asp-action="SeeAttendenceInfo" asp-route-id="@attendence.EmpId"><u>View his/her Attendence Info</u></a>
                    </font>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <blockquote class="blockquote mb-0">
                                Request for @attendence.Date.Day-@attendence.Date.Month-@attendence.Date.Year
                            </blockquote>
                            <div style="margin-top:10px"><i class='far fa-calendar-alt'></i>  Applied Date : @attendence.AppliedDate.Day - @attendence.AppliedDate.Month - @attendence.AppliedDate.Year</div>
                            <p style="font-size:12pt;margin-top:5px"><i class='far fa-meh'></i> Explanation : @attendence.Explanation</p>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top:8px"><i class='far fa-calendar-alt'></i>  In-Time : @attendence.InTime.ToString("hh:mm tt") </div>
                            <div style="margin-top:8px"><i class='far fa-calendar-alt'></i>  Out-Time : @attendence.OutTime.ToString("hh:mm tt")</div>
                            @{

                                var timeSpan1 = TimeSpan.FromHours(attendence.TotalHours);
                                int hh1 = timeSpan1.Hours;
                                int mm1 = timeSpan1.Minutes;
                                String total = hh1 + " h " + mm1 + " min";
                            }
                            @{
                                var timeSpan2 = TimeSpan.FromHours(attendence.BreakingHours);
                                int hh2 = timeSpan2.Hours;
                                int mm2 = timeSpan2.Minutes;
                                String Break = hh2 + " h " + mm2 + " min";
                            }
                            @{
                                var timeSpan3 = TimeSpan.FromHours(attendence.WorkingHours);
                                int hh3 = timeSpan3.Hours;
                                int mm3 = timeSpan3.Minutes;
                                String Work = hh3 + " h " + mm3 + " min";
                            }
                            <div style="margin-top:8px"><i class='far fa-calendar-alt'></i>  Break Time : @Break</div>

                        </div>
                        <div class="col-md-4">
                            <div id="s3"><i class='far fa-calendar-alt'></i>  Total Hours : @total</div>
                            <div id="s3"><i class='far fa-calendar-alt'></i>  Working Hours : @Work</div>
                            <div style="margin-top:15px">
                                <a asp-controller="AdminAttendence" asp-action="RequestApprove" asp-route-id="@attendence.AttendenceId" onclick="return confirm('Do you want to approve this attendence request ? ')" type="button" class="btn btn-outline-primary btn-sm btn-block">
                                    <i class='far fa-check-square'></i> Approved
                                </a>
                            </div>
                            <div style="margin-top:6px">
                                <a asp-controller="AdminAttendence" asp-action="RequestNotApprove" asp-route-id="@attendence.AttendenceId" onclick="return confirm('Do you want to deny this attendence request ? ')" type="button" class="btn btn-outline-danger btn-sm btn-block">
                                    <i class='fas fa-times'></i> Not Approved
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
