@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<LeaveApplyModel>

<div style="background-color:lightgray;margin-left:3%;width:92%">
    <h3 style="font-family:Cambria;color:black;margin-bottom:20px"> Leave Taken Details</h3>
    <br>
</div>
<br>
<br>

<div style="margin-left:3%;width:90%">
    <table class="table table-hover" id="example" style="background-color:gainsboro">
        <thead>
            <tr style="line-height:60px">
                <th scope="col">Applied On</th>
                <th scope="col">Leave Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">No of Days</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leave in Model)
            {
                <tr style="line-height:60px">
                    <td>@leave.AppliedDate.Day-@leave.AppliedDate.Month-@leave.AppliedDate.Year</td>
                    <td>@leave.LeaveType</td>
                    <td>@leave.Startdate.Day-@leave.Startdate.Month-@leave.Startdate.Year</td>
                    <td>@leave.EndDate.Day-@leave.EndDate.Month-@leave.EndDate.Year</td>
                    <td>@leave.NoOfDays</td>
                    <td class="text-center">
                        <a asp-controller="StaffTimeSheet" asp-action="CreateDocument" target="_blank" class="text-dark">View Reports </a>
   
                        @if (leave.PdfURL != null)
                        {
                            <a href="@leave.PdfURL" target="_blank" style="color:black;">| Evidence PDF</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




