@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model LBalanceModel
    <style>
        .circle {
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 30%;
            font-size: 18px;
            color: white;
            text-align: center;
            background: #173A47;
        }
    </style>

<div style="background-color:lightgray;margin-left:3%;width:92%">
    <h3 style="font-family:Cambria;color:black;margin-bottom:20px"> Leave Balance</h3>
    <h6 style="font-family:Arial;color:black;"> From @Model.FromDate.Day-@Model.FromDate.Month-@Model.FromDate.Year &nbsp;&nbsp;&nbsp;&nbsp;To @Model.Todate.Day-@Model.Todate.Month-@Model.Todate.Year</h6>
</div>
<br>
<div class="row">
    <div class="col-md-3" style="margin-left:3%">
        <div class="col">
            <div class="col-sm-12 col-lg-4" style="padding:20px">
                <div class="card text-center" style=" border: 2px solid black;color:white ;border-radius: 5%;height:120px;width:170px;margin-left:3%;background-color:#173A47">
                    <div class="container">
                        <div style="font-size:12pt;color:white;" class="row">
                            <br>&nbsp;&nbsp;Total Leave Allocation
                        </div><br>
                        <h5>@Model.TotalLeaveGiven</h5>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4" style="padding:20px">
                <div class="card text-center" style=" border: 2px solid black;color:white;border-radius: 5%;height:120px;width:170px;margin-left:3%;background-color:#173A47">
                    <div class="container">
                        <font style="font-size:12pt;color:white;">
                            <br> Total Leave Taken
                        </font><br><br>
                        <h5> @Model.TotalLeaveTaken</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4" style="padding:20px">
                <div class="card text-center" style=" border: 2px solid black;color:white; border-radius: 5%;height:120px;width:170px;margin-left:3%;background-color:#173A47">
                    <div class="container">
                        <font style="font-size:12pt;color:white">
                            <br>Leave Balance
                        </font><br><br>
                        <h5>  @Model.TotalLeaveBalance </h5>
                    </div>
                </div>
            </div>

        </div>
        <br>
    </div>
    <div class="col-md-8" style="">
        <br>
        <div class="card" style="background-color:ThreeDHighlight;margin-bottom:9px">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h6 class="card-title">Annual Leaves</h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Current Available&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.AnnualRemain</span>
                </h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Leave Taken&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.AnnualTaken</span>
                    <span class="symbol">/</span>
                    <span class="bottom">@Model.AnnualAllocated</span>
                </h6>
            </div>
        </div>
        <br>
        <div class="card" style="background-color:ThreeDHighlight;margin-bottom:9px">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h6 class="card-title">Medical Leaves</h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Current Available&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.MedicalRemain</span>
                </h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Leave Taken&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.MedicalTaken</span>
                    <span class="symbol">/</span>
                    <span class="bottom">@Model.MedicalAllocated</span>
                </h6>
            </div>
        </div>
        <br>
        <div class="card" style="background-color:ThreeDHighlight;margin-bottom:9px">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h6 class="card-title">Casual Leaves</h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Current Available&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.CasualRemain</span>
                </h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Leave Taken&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.CasualTaken</span>
                    <span class="symbol">/</span>
                    <span class="bottom">@Model.CasualAllocated</span>
                </h6>
            </div>
        </div>
        <br>
        <div class="card" style="background-color:ThreeDHighlight;margin-bottom:9px">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h6 class="card-title">Short Leaves</h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Current Available&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.ShortRemain</span>
                </h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Leave Taken&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.ShortTaken</span>
                    <span class="symbol">/</span>
                    <span class="bottom">@Model.ShortAllocated</span>
                </h6>
            </div>
        </div>
        <br>
        <div class="card" style="background-color:ThreeDHighlight;margin-bottom:9px">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h6 class="card-title">Half Days</h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;margin-left:20px">Current Available&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.HalfRemain</span>
                </h6>
                <h6 class="card-title">
                    <span class="bottom" style="font-weight:normal;font-size:12pt;">Leave Taken&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>@Model.Halftaken</span>
                    <span class="symbol">/</span>
                    <span class="bottom">@Model.HalfAllocated</span>
                </h6>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<div style="background-color:lightgray;margin-left:3%;width:92%">
    <h3 style="font-family:Cambria;color:black;"> Extra Leave Taken</h3><br>
</div>
<br>
<br>
<div class="row" style="margin-left:4%;font-family:Cambria">
    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-header" style="background-color: #173A47;color:white">
                <h4 class="card-title text-center">special Leaves</h4>
            </div>
            <div class="card-body" style="background-color:ThreeDHighlight">
                <div class="row">
                    <div class="col-md-9"> <h5 class="card-subtitle">Total Number of special leaves taken so far</h5></div>
                    <div class="col-md-3">
                        <a asp-controller="AdminLeave" asp-action="SpecialLeave" asp-route-id="@Model.EmpId">
                            <div class="circle float-right">@Model.SpecialTaken</div>
                        </a>
                    </div>

                </div>



            </div>
        </div>


    </div>
    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-header" style="background-color: #173A47;color:white">
                <h4 class="card-title text-center">No Pay Leaves</h4>
            </div>
            <div class="card-body" style="background-color:ThreeDHighlight">
                <div class="row">
                    <div class="col-md-9"> <h5 class="card-subtitle">Total Number of No pay leaves taken so far</h5></div>
                    <div class="col-md-3">
                        <a asp-controller="AdminLeave" asp-action="NoPayLeave" asp-route-id="@Model.EmpId">
                        <div class="circle float-right">@Model.NoPayTaken</div></a>
                    </div>

                </div>



            </div>
        </div>

    </div>
</div>
