
@{
    ViewData["Title"] = "Delete Employees";
    ViewData["Topic"] = "Remove Employees";
}

@model IEnumerable<EmpModel>







<div class="content">
    <br>   <br>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            Successfully Deleted
        </div>


    }

    <br>


    <div class="table-responsive  col-sm-10 col-md-12 col-xl-12">
        <table class="table table-hover" >

            <thead>

            </thead>
            <tbody>

                @foreach (var emp in Model)
                {


                    <tr style="line-height: 40px">

                        <th scope="row">
                            <a asp-route="empDetailsRoute" asp-route-id="@emp.EmpId">
                                <div class="rounded-circle" style="width: 3.7rem;background-color:gainsboro;border-width:medium">
                                    <img class="card-img-top rounded-circle" src="@(string.IsNullOrEmpty(emp.PhotoURL) ? "~/images/defa.png" : emp.PhotoURL)" height="55" width="20" asp-append-version="true">
                                </div>
                            </a>
                        </th>
                        <td>@emp.EmpFName @emp.EmpLName<br><font style="color:forestgreen;font-size:small;margin-bottom:0px"> UserID : @emp.EmpId</font></td>
                        <td>
                            @emp.JobType
                            <br><span class="badge badge-dark" style="margin-bottom: 0px; font-size: 11pt">@emp.Status</span>
                        </td>
                        <td><i class="fa fa-envelope"></i> : @emp.Email <br><i class='fas fa-mobile-alt' style="margin-left:7px"></i> : @emp.Mobile</td>
                        <td><a asp-controller="Emp_Manage" asp-action="DeleteEmp" asp-route-id="@emp.EmpId" class="btn btn-outline-danger"><i class='fas fa-times' style='color:red'></i> Delete</a></td>

                    </tr>



                }



            </tbody>
        </table>
    </div>






</div>
