
@{ 
    ViewData["Title"] = "All Employees";
}

@model IEnumerable<EmpModel>


    <nav class="navbar navbar-light" style="background-color:gainsboro;margin-left:18%">
        <a class="navbar-brand">
        <h4 style="font-family:Cambria">Employees Of Bellvantage (Pvt) Ltd</h4></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    @*style="background-color: gainsboro;width:83%;position:relative;margin-left:230px;*@
<div style="margin-left:20%;height:1000px;" >
    <br>


  
    <br><br>
    @foreach (var emp in Model)
    {
        <div class="table-responsive">
            <table class="table table-hover" style="width:900px">
                <thead>

                </thead>
                <tbody>
                    <tr style="line-height:20px;">
                        <th scope="row">@emp.EmpId</th>
                        <td>@emp.EmpFName @emp.EmpLName<br><font style="color:royalblue;font-size:small;"> EmpId : @emp.EmpId</font></td>
                        <td>@emp.Position</td>
                        <td>Email: @emp.Email <br>Mobile: @emp.Mobile</td>
                       <td><a asp-route="empDetailsRoute"  asp-route-id="@emp.EmpId"  class="btn btn-outline-primary">View More</a></td>

                    </tr>
                </tbody>
            </table>
     </div>

    }


</div>
