

@{
    ViewData["Title"] = Model.EmpFName;
}

@model EmpModel



<nav class="navbar navbar-light" style="background-color:gainsboro;margin-left:18%;position:relative;width:82%">
    <a class="navbar-brand">
        <h4 style="font-family:Cambria">Employees Of Bellvantage (Pvt) Ltd</h4>
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<div style="margin-left:20%;height:800px;">
    <br><br> <br><br>
    <section class="jumbotron text-center" style="height:1000px;position:relative;width:95%;margin-left:2%;background-color:whitesmoke;">



        <div class="row">
            <div class="col">
                <div class="card rounded-circle" style="width: 20rem;background-color:gainsboro;border-width:medium">
                    <img class="card-img-top rounded-circle" src="@(string.IsNullOrEmpty(Model.PhotoURL) ? "~/images/defa.png" : Model.PhotoURL)" height="300" width="60" asp-append-version="true">

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 30rem;background-color:#808080;text-align:left;font-family:Arial;color:white">
                    <div class="card-body">
                        <h4 class="card-title">@Model.EmpFName @Model.EmpLName</h4>
                        <h5 class="card-title" style="color:greenyellow">@Model.JobTitle</h5>
                        <h7 class="card-title">Work since - @Model.WorkSince.Day-@Model.WorkSince.Month-@Model.WorkSince.Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Gender</h7><hr>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">EmpId</th>
                                    <th>@Model.EmpId</th>

                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <th>@Model.Email</th>

                                </tr>
                                <tr>
                                    <th scope="row">Mobile No</th>
                                    <th>@Model.Mobile</th>

                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <th>@(string.IsNullOrEmpty(Model.Address) ? "Address is not available" : Model.Address) </th>

                                </tr>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <th>@Model.Dob.Day-@Model.Dob.Month-@Model.Dob.Year</th>

                                </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table " style="margin-top:50px">

                <tbody>
                    <tr style="line-height:60px">
                        <td scope="row" style="text-align:center;vertical-align:middle">
                            <a asp-controller="AdminAttendence" asp-action="ViewAttendence" style="color:white;background-color:forestgreen" class="btn btn-outline-success">Attendence Details</a>

                        </td>


                        <td rowspan="3" width="80%">

                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne" style="background-color:#808080">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" style="color:white;font-family:Cambria;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <b>Current Projects</b>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                                        <div class="row">
                                            <div class="col">
                                                <div class="card-body">
                                                    <div class="card" style="width: 10rem;height:5rem;background-color:whitesmoke">
                                                        <div class="card-body">
                                                            <h6 class="card-title">V-PMS Project</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col">
                                                <div class="card-body">
                                                    <div class="card" style="width: 10rem;height:5rem;background-color:whitesmoke">
                                                        <div class="card-body">
                                                            <h6 class="card-title">Smart Office Project</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col">
                                                <a href="#" style="color:forestgreen;font-size:smaller">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo" style="background-color:#808080">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" style="color:white;font-family:Cambria" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:forestgreen">
                                                <b>Current Tasks</b>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="card-body">
                                                        <div class="card" style="width: 8rem;height:6rem;background-color:whitesmoke">
                                                            <div class="card-body">
                                                                <h6 class="card-title">Login part- VPMS</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <div class="card" style="width: 8rem;height:6rem;background-color:whitesmoke">
                                                            <div class="card-body">
                                                                <h6 class="card-title">Leave part- Smart Office</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col">
                                                    <a href="#" style="color:forestgreen;font-size:smaller">View More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </td>
                    </tr>
                    <tr style="line-height:60px">
                        <td scope="row" style="text-align:center;vertical-align:middle">
                            <a asp-controller="AdminTimeS" asp-action="ViewTimeSheet" style="color:white;background-color:forestgreen;height:60px;width:140px" class="btn btn-outline-success">View Time<br> Sheets</a>

                        </td>

                    </tr>
                    <tr style="line-height:60px">
                        <td scope="row" style="text-align:center;vertical-align:middle">
                            <a style="color:white;background-color:forestgreen" asp-controller="AdminTimeS" asp-action="ViewTimeSheet" class="btn btn-outline-success">View Work Sheets</a>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>


    </section>

    <br>
    <a style="color:forestgreen;margin-left:84%;margin-bottom:20px" asp-controller="Emp_Manage" asp-action="ViewAllEmp">View All Employees</a>
    <br> 
    <div class="container">
        <h3 style="color:white;background-color:#555;margin-top:18px">Related Employees</h3>
        @await Component.InvokeAsync("EmpList", new { name = @Model.EmpFName, job = Model.JobTitle })



    </div>
</div>








