@using VPMS_Project.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<EmpModel>

<div class="table-responsive">
    <table class="table table-hover " style="width:95%;margin-left:2%">

        <thead>

        </thead>
        <tbody>

            @foreach (var emp in Model)
            {


                <tr style="line-height: 40px">
                    <th scope="row">
                        <div class="rounded-circle" style="width: 3.7rem;background-color:gainsboro;border-width:medium">
                            <a asp-route="empDetailsRoute" asp-route-id="@emp.EmpId"> <img class="card-img-top rounded-circle" src="@(string.IsNullOrEmpty(emp.PhotoURL) ? "~/images/defa.png" : emp.PhotoURL)" height="55" width="20" asp-append-version="true"></a>

                        </div>
                    </th>
                    <td>@emp.EmpFName @emp.EmpLName<br><font style="color:forestgreen;font-size:small;margin-bottom:0px"> EmpId : @emp.EmpId</font></td>
                    <td>@emp.JobType
                    <br><span class="badge badge-dark" style="margin-bottom: 0px; font-size: 11pt"> @emp.Status</span></td>
                    <td><i class="fa fa-envelope"></i> : @emp.Email <br><i class='fas fa-mobile-alt' style="margin-left:7px"></i> : @emp.Mobile</td>
                    <td><a asp-route="empDetailsRoute" asp-route-id="@emp.EmpId" class="btn btn-outline-success btn-sm">View More</a></td>
                </tr>


            }



        </tbody>
    </table>
</div>
