@{
    Layout = "_LeaveLayout";
    ViewData["Title"] = "Leave Standard";
    int i = 0;
}
<link href="~/CSS/HR.css" rel="stylesheet" />
@model IEnumerable<JobModel>

<br>
<div class="s1">
    <h3>
        <a asp-controller="AdminLeave" asp-action="LeaveAllocation" title="Back">
            <i class='fas fa-arrow-left'></i>
        </a>Leave Allocation Graph
    </h3><hr>
    <br>
    <div id="s2">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <strong>Congragulations!</strong> You have added a new job title successfully.
            </div>
        }
        @if (ViewBag.IsDelete == true)
        {
            <div class="alert alert-success" role="alert">
                Successfully Deleted.
            </div>
        }
        @if (ViewBag.IsUpdate == true)
        {
            <div class="alert alert-success" role="alert">
                Successfully Updated.
            </div>
        }
        </div>
        <div id="s3">
            <br>
            <div class="s4">
                <a asp-controller="AdminLeave" asp-action="AddJob" class="btn-success"><i class='fas fa-plus'></i> Add New </a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-dark" >
                    <thead>
                        <tr style="color:black">
                            <th scope="col"></th>
                            <td scope="col" colspan="5">Number of Leaves given for one year </td>
                        </tr>
                        <tr style="color:black">
                            <td scope="col">Job Title</td>
                            <td scope="col">Casual Leaves</td>
                            <td scope="col">Medical Leaves</td>
                            <td scope="col">Annual Leaves</td>
                            <td scope="col">Short Leaves</td>
                            <td scope="col">HalfDay Leaves</td>
                            <td scope="col">Total Leaves</td>
                            <td colspan="2">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model)
                        {
                            @*onclick="return confirm('Are you sure')"*@
                            i += 1;
                            <tr style="line-height: 20px;color:black">
                                <td scope="row">  @job.JobName </td>
                                <td scope="row">  @job.Casual</td>
                                <td scope="row">  @job.Medical</td>
                                <td scope="row"> @job.Annual</td>
                                <td scope="row"> @job.ShortLeaves </td>
                                <td scope="row">  @job.HalfDays </td>
                                <td scope="row"> @job.TotalLeaves </td>
                                <td>
                                    <a asp-controller="AdminLeave" asp-action="EditJob" asp-route-id="@job.JobId" title="Edit">
                                        <i class='fas fa-edit' ></i>
                                    </a>
                                </td>
                               <td>
                                    <a asp-controller="AdminLeave" asp-action="DeleteJob" title="Delete" asp-route-id="@job.JobId" onclick="return confirm('This will also permantly delete existing employees who hold this position. Do you want to delete this job title ?')">
                                        <i class='fas fa-times' style='color:red;'></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h5>No of Job Types : @i</h5>
    </div>
