@{
    Layout = "_LeaveLayout";
    ViewData["Title"] = "Leave Allocation";
}


@model IEnumerable<EmpModel>


<div style="margin-left:20%;height:900px;">
    <div class="container">

        <div class="jumbotron jumbotron-fluid">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <h1 class="display-4">Leave Allocation Details</h1>
                        <p class="lead" style="padding-bottom:10px">Search anyone to see their leave allocation details.</p>
                        <form class="form-inline" method="get" asp-action="LeaveAllocation" asp-controller="AdminLeave">
                            <input class="form-control-lg mr-lg-2" type="search" placeholder="Search employees" aria-label="Search" name="Search" />
                            <input class="btn btn-success" type="submit" value="Search" style="line-height:30px;width:80px;background-color:#175A47" onclick="help()" />
                            <a asp-controller="EmployeeHome" asp-action="EmpIndex" class="btn btn-success" style="background-color:#175A47;line-height:30px;margin-left:3%;width:80px;">Back</a>

                        </form>
                    </div>
                    <div class="col-sm-12 col-lg-4" style="padding:50px">
                        <a asp-action="HRLeaveTableSee" asp-controller="AdminLeave">
                            <div class="card text-center" style=" border: 2px solid black; border-radius: 5%;height:90px;width:120px;margin-left:20px;background-color:#175A47" >
                                <div class="container">
                                    <font style="font-size:12pt;color:white">
                                        View HR Leave
                                        Allocation
                                    </font>

                                </div>
                            </div>
                        </a>

                    </div>
                </div>



            </div>
        </div>

        <br> <br>
        <div class="row">
            <div class="table-responsive col-sm-12 col-md-12">
                <table class="table table-hover ">

                    <thead>

                    </thead>
                    <tbody>

                        @foreach (var emp in Model)
                        {

                            <tr style="line-height: 40px">

                                <th scope="row">
                                    <a asp-controller="AdminLeave" asp-action="SeeLeaveAllocation" asp-route-id="@emp.EmpId">
                                        <div class="rounded-circle" style="width: 3.5rem;background-color:gainsboro;border-width:medium">
                                            <img class="card-img-top rounded-circle" src="@(string.IsNullOrEmpty(emp.PhotoURL) ? "~/images/defa.png" : emp.PhotoURL)" height="55" width="20" asp-append-version="true">
                                        </div>
                                    </a>
                                </th>
                                <td> @emp.EmpFName @emp.EmpLName<br><font style="color:forestgreen;font-size:11pt;margin-bottom:0px"> EmpId : @emp.EmpId</font></td>
                                <td>
                                    @emp.JobType

                                </td>

                                <td><a asp-controller="AdminLeave" asp-action="SeeLeaveAllocation" asp-route-id="@emp.EmpId" class="text-success">See leave Allocation Details</a></td>

                            </tr>



                        }



                    </tbody>
                </table>
                <br>
                <div class="find" style="margin-left:20%">
                    Search Employees to see their leave allocation details
                    <img src="~/images/sea.jpg" style="width:300px;height:auto" />
                </div>
            </div>
             </div>
    </div>
</div>

@section leave
{

<script>
    $(document).ready(function () {
        $("input").click(function () {
            $(".find").hide(2000);
        });
    });
</script>
}
