
@{
    Layout = "_LeaveLayout";
    ViewData["Title"] = "Leave Recommendation";
    ViewData["Msg1"] = "No Leave Requests";
    ViewData["Msg2"] = "No pending leave requests have been received yet.";

}
<link href="~/CSS/Recomm.css" rel="stylesheet" />
@model IEnumerable<LeaveApplyModel>

    <div id="s1">
        <div class="navbar">
            <h3>
                <br>
                <a asp-controller="EmployeeHome" asp-action="EmpIndex" title="Back">
                    <i class='fas fa-arrow-left'></i>
                </a>Leave Recommendation
            </h3>
        </div>
        <hr>


        <br>
        <div id="s2">
            @if (ViewBag.IsRecommend == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    Successfully Recommended.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (ViewBag.IsNotRecommend == true)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    Successfully Rejected.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
        <br>
        @if (Model.Count() == 0)
        {
           <div id="s3">
              <partial name="_Message" />
           </div>
        }

        @foreach (var leave in Model)
        {
            <div class="card bg-light" >
                <div class="card-header">
                    <font class="card-title">
                        <b> @leave.EmpName - </b> &nbsp;
                        <span style="font-size:11pt">
                            @leave.Designation
                        </span>
                    </font>
                    <font class="card-title">
                        <a class="btn btn-outline-dark" asp-controller="AdminLeave" asp-action="ViewLeave" asp-route-id="@leave.EmpId" >View Leave Request Details</a>
                        @if (leave.PdfURL != null)
                        {
                            <a class="btn btn-outline-dark" href="@leave.PdfURL" target="_blank">View Evidence PDF</a>
                        }
                    </font>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <blockquote class="blockquote mb-0">
                                @leave.LeaveType for @leave.NoOfDays Days
                            </blockquote>
                            <div style="margin-top:10px"><i class='far fa-calendar-alt'></i>  Applied Date : @leave.AppliedDate.Day - @leave.AppliedDate.Month - @leave.AppliedDate.Year</div>
                            <p id="s4"><i class='far fa-meh'></i> Reason : @leave.Reason</p>
                        </div>
                        <div class="s6 col-md-4">
                            <div><i class='far fa-calendar-alt'></i>  From : @leave.Startdate.Day - @leave.Startdate.Month - @leave.Startdate.Year</div>
                            <div><i class='far fa-calendar-alt'></i>  To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : @leave.EndDate.Day - @leave.EndDate.Month - @leave.EndDate.Year</div>

                        </div>
                        <div class="col-md-4">
                                <div style="margin-top:2px"><a type="button" class="btn btn-outline-dark btn-sm btn-block" asp-controller="AdminLeave" asp-action="SeeLeaveDetails" asp-route-id="@leave.EmpId">
                                    <i class='fas fa-info'></i> Leave Balance Info</a></div>

                            <div style="margin-top:6px">
                                <a asp-controller="AdminLeave" asp-action="LeaveRecomend" asp-route-id="@leave.LeaveApplyId" onclick="return confirm('Do you want to recommend this Leave ? ')" type="button" class="btn btn-outline-primary btn-sm btn-block">
                                    <i class='far fa-check-square'></i> Recommended
                                </a>
                            </div>
                            <div style="margin-top:6px">
                                <a asp-controller="AdminLeave" asp-action="LeaveNotRecomend" asp-route-id="@leave.LeaveApplyId" onclick="return confirm('Do you want to reject this Leave ? ')" type="button" class="btn btn-outline-danger btn-sm btn-block">
                                    <i class='fas fa-times'></i> Not Recommended
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
