@{
    Layout = "_LeaveLayout";
    ViewData["Title"] = "Leave Allocation";
}
@model IEnumerable<LeaveApplyModel>

<link href="~/CSS/ViewLeave.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
    <div class="content">
        <h3>
            <br>
            <a asp-controller="AdminLeave" asp-action="Recomend" title="Back">
                <i class='fas fa-arrow-left'></i>
            </a>Leave Request Details
        </h3>
        <br><br>
        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th scope="col">Applied On</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">No Of Days</th>
                    <th scope="col">Recommender</th>
                    <th scope="col">Approver</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leave in Model)
                {
                <tr>
                    <td>@leave.AppliedDate.Day-@leave.AppliedDate.Month-@leave.AppliedDate.Year</td>
                    <td>@leave.LeaveType</td>
                    <td>@leave.Startdate.Day-@leave.Startdate.Month-@leave.Startdate.Year</td>
                    <td>@leave.EndDate.Day-@leave.EndDate.Month-@leave.EndDate.Year</td>
                    <td class="text-center">@leave.NoOfDays</td>
                    <td>
                        @leave.RecommendName

                        @if (leave.RecommendName == null)
                        {
                            <div class="text-dark">None</div>
                        }
                    </td>
                    <td>
                        @leave.ApproverName
                        @if (leave.ApproverName == null)
                        {
                            <div class="text-dark">None</div>
                        }
                    </td>
                    <td>

                        @if (leave.Status == "Not Approved" || leave.Status == "Not Recommended")
                        {
                            <div class="text-danger">@leave.Status</div>
                        }
                        else
                        {
                    <div>@leave.Status</div>
                        }



                </tr>
                }
           </tbody>
        </table>
    </div>

        



        @section leave{
            <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
            <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
            <script>
                $(function () {
                    $("#example").dataTable();
                })
            </script>



        }

